*{
    margin: 0px;
    box-sizing: border-box;
}
img{
    width: 40px;
}
#checkbox{
    display: none;
}
div{
   
    background-color: rgb(236, 251, 152);
    width: 400px;
    position: absolute;
    left: -600px;
    transition: all 1s ease;
}

#checkbox:checked~div{
    
    transform: translateX(600px) translateY(0px)
}
p{  
    background-color: rgb(110, 222, 242);
    color: antiquewhite;
    font-size: 2rem;
    width: 250px;
    text-align: center;
   position: relative;
    padding: 10px;
   left: 60px;
   border-radius: 10px;
}